<h1 class="text-center">Contact</h1>
<form method="post">
  <div class="mb-3 w-25">
    <label for="uname" class="form-label">Name:</label>
    <input type="text" class="form-control" id="uname" aria-describedby="emailHelp">
  </div>
  <div class="mb-3 w-25">
    <label for="umail" class="form-label">Email address:</label>
    <input type="email" class="form-control" id="umail">
  </div>
  <div class="mb-3 w-25">
    <label for="umsg" class="form-label">Message:</label>
    <textarea class="form-control" name="text" id="umsg" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>