<form action="/register" class="form-signin mh-100 bg-warning" method="post">
  {{#each errorMessages}}
    <div class="reg-error">
      {{this.msg}}
    </div>
  {{/each}}
  <h2 class="form-signin-header text-center text-primary">New Account</h2>
  <input
    type="text"
    class="form-control text-left"
    name="username"
    placeholder="Enter your Name"
    autofocus=""
  />
  <br />
  <input
    type="email"
    class="form-control"
    name="email"
    autofocus=""
    placeholder="Enter your Email address"
    aria-describedby="emailHelp"
  />
  <div id="emailHelp" class="form-text">We'll never share your email with anyone
    else.</div>
  <br />
  <input
    type="password"
    name="password"
    class="form-control"
    placeholder="Enter your Password"
  />
  <br />
  <input
    type="password"
    name="confirmPassword"
    class="form-control"
    placeholder="Confirm your Password"
  />
  <br />
  <button type="submit" class="btn btn-lg btn-primary btn-block">Sign Up</button>
</form>